/* Style 404 page */
.error-container {
    font-size: 6.25rem;
    font-weight: 800;
    margin: 0.625rem 0.625rem;
}

/* style 404 */
.error-container > span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    vertical-align: middle;
    color: rgba(255, 106, 0, 0.6);
}

/* general body styling */
body {
    font-family: "Roboto Light", Calibri, sans-serif;
    min-height: 100vh;
    background:
            linear-gradient(rgba(0, 22, 43, 0.6), rgba(0, 22, 43, 0.6)),
            url("/portfolio/assets/finish-line-scene.webp") !important;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* set header1 margins to leave a gap at the top */
h1 {
    margin: 1.875rem 0.9375rem;
}

@media screen and (min-width: 768px) {
    .error-container {
        font-size: 11.25rem; /* 180px */
        margin: 1.25rem 0.9375rem;
    }
}