.error-container {
    text-align: center;
    font-size: 180px;
    font-family: "Roboto Light", Calibri, sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}
.error-container > span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
}
.error-container > span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
    color: rgba(210, 0, 60, 0.8);
}
.error-container > span:nth-of-type(3) {
    color: #d2003c;
}
.error-container > span:nth-of-type(2) {
    width: 120px;
    height: 120px;
    border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
    border-radius: 0%;
    content:"";
    position: absolute;
    top: 0; left: 0;
    width: inherit; height: inherit;
    border-radius: 999px;
    box-shadow: inset 30px 0 0 rgba(0, 60, 210, 0.4),
    inset 0 30px 0 rgba(210, 147, 0, 0.4),
    inset -30px 0 0 rgba(0, 210, 147, 0.4),
    inset 0 -30px 0 rgba(210, 0, 60, 0.6);
    animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #00162b;
    margin-bottom: 50px;
}
html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #92a4ad;
}
h1 {
    text-align: center;
    margin: 30px 15px;
    color: #fff;
}
.zoom-area {
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
    color: #fff;
}
.link-container {
    text-align: center;
}
a.more-link {
    text-transform: uppercase;
    font-size: 15px;
    background-color: rgba(255, 255, 255, .1);
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
    border: 2px solid rgba(255, 255, 255, .2);
}

a.more-link:hover {
    color: #d2003c;
}