* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Kept at 16px to define the 1rem base */
    font-size: 16px;
    height: 100vh;
    background-color: #00162b;
}

body {
    font-family: "Roboto Light", Calibri, sans-serif;
    line-height: 1.618;
}

h1 {
    margin: 2rem 0;
    /* 1.6px / 16 = .1rem */
    letter-spacing: .1rem;
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

main {
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;
}

nav {
    /* 32px / 16 = 2rem */
    margin-top: 2rem;
    font-weight: 700;
}

nav ul {
    flex-direction: column;
    display: flex;
    /* 32px / 16 = 2rem */
    gap: 2rem;
    list-style: none;
}

nav li {
    display: flex;
    padding: .5rem 1rem;
    transition: .3s;
    backdrop-filter: blur(10px);
    width: 100%;
}

nav a {
    flex: 1;
    font-size: 1.5rem;
    font-variant: small-caps;
}

aside {
    /* 150px / 16 = 9.375rem */
    width: 9.375rem;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: grayscale(50%);
    opacity: .2;
    animation: move 20s infinite;
}

aside img {
    width: 100%;
    height: auto;
}

@keyframes move {
    0%, 100% {
        /* -150px / 16 = -9.375rem */
        bottom: -9.375rem;
        opacity: .2;
    }
    10% {
        /* -10px / 16 = -.625rem */
        bottom: -.625rem;
        opacity: 1;
    }
    10.5% {
        /* -150px / 16 = -9.375rem */
        bottom: -9.375rem;
        opacity: .2;
    }
}

/* Responsive Design for Mobile Devices */
@media (min-width: 600px) {
    main {
        /* 32px / 16 = 2rem */
        text-align: center;
    }

    /* 2. Vertical Stacking For buttons */
    nav ul {
        /* Changes the flex direction from row (default) to column */
        flex-direction: row;
    }
}