/* set universal css for pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", Calibri, sans-serif;
}

/* set body properties */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #212121;
}

/* header properties, set background etc for a modern navbar display */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
/* set white flash effect to the right when hovering on/off the navbar */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
/* flash back to the left when leaving the menu */
.header:hover::before {
    left: 100%;
}
/* set properties for white logo */
.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
/* set properties for links in navbar */
.navbar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}
/* change text color on menu hovering */
.navbar a:hover {
    color: #f00;
}

/* change layout for smaller screens */
/* change padding */
@media (max-width: 992px) {
    .header{
        padding: 1.25rem 4%;
    }
}

/* change layout for vertical menu on smaller screens */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }
}