/* set universal css for pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", Calibri, sans-serif;
}

/* set body properties */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #00162b;
}

.main-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    color: #fff;
}

/* header properties, set background etc for a modern navbar display */
.header {
    position: absolute;
    margin: 100px 5%;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
}

/* set properties for white logo */
.logo {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

/* set properties for links in navbar */
.navbar a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

/* change text color on menu hovering */
.navbar a:hover {
    color: rgba(210, 0, 60, 0.8);
}

#navigation {
    background-image: url(../assets/top-banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

/* Hide the actual checkbox input completely */
#check {
    display: none;
}

/* mobile menu icon style, hide on large screens */
#menu-icon {
    width: 36px;       /* Set the size */
    height: 36px;      /* Set the size */
    vertical-align: middle; /* Ensures it aligns nicely */
    color: #fff;
    display: none;
    cursor: pointer;
}

/* change menu padding for in between screen sizes */
@media (max-width: 1280px) {
    .header {
        padding: 20px 50px;
    }
}
/* change menu layout for smartphone screens */
@media (max-width: 905px) {
    #menu-icon {
        display: block;
    }
    .header{
        padding: 1.25rem 4%;
    }
    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        /* HIDE the navbar by default on mobile */
        display: none;
    }

    .navbar a {
        display: block;
        font-size: 18px;
        margin: 1.5rem 0;
    }

    /* THE MAGIC: When #check is checked, find the sibling .navbar and display it */
    #check:checked ~ .navbar {
        display: block;
    }
}

